
<!DOCTYPE html>
<html lang="en" ng-app>
<head>
<meta charset="utf-8">
<script src="../assets/js/jquery-1.9.1.js"></script>
<script src="../assets/js/bootstrap/bootstrap.js"></script>
<script src="../assets/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

<script
	src="../assets/js/angular.min.js"></script>
<script
	src="https://raw.github.com/mgcrea/angular-strap/master/dist/angular-strap.min.js"></script>
<!-- 
<link rel="stylesheet"
	href="../assets/jquery-ui/themes/base/jquery.ui.all.css">
<script src="../assets/jquery-ui/ui/jquery.ui.core.js"></script>
<script src="../assets/jquery-ui/ui/jquery.ui.widget.js"></script>
<script src="../assets/jquery-ui/ui/jquery.ui.datepicker.js"></script>
-->
<script src="../assets/js/solar.js"></script>

<title>Sonnenfleck</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<!-- Le styles -->
<link href="../assets/css/bootstrap.css" rel="stylesheet">
<link href="../assets/bootstrap-datepicker/css/datepicker.css"
	rel="stylesheet">
<style type="text/css">
body {
	padding-top: 60px;
	padding-bottom: 40px;
}
</style>
<link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

<!-- Fav and touch icons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144"
	href="../assets/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114"
	href="../assets/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72"
	href="../assets/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed"
	href="../assets/ico/apple-touch-icon-57-precomposed.png">
<link rel="shortcut icon" href="../assets/ico/favicon.png">
<script src="../assets/js/tween-min.js"></script>
<script src="../assets/js/steelseries-min.js"></script>
<script src="../assets/js/init.js"></script>
</head>

<body ng-controller="SolarCtrl">
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse"
					data-target=".nav-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="#about">About</a></li>
						<li><a href="#contact">Contact</a></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown">Dropdown <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">Action</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something else here</a></li>
								<li class="divider"></li>
								<li class="nav-header">Nav header</li>
								<li><a href="#">Separated link</a></li>
								<li><a href="#">One more separated link</a></li>
							</ul></li>
					</ul>
					<span id="leds"> </span>
				</div>
				<!--/.nav-collapse -->
			</div>
		</div>
	</div>

	<div class="container-fluid">

		<div class="row-fluid">
			<div class="span12">
				<input type="text" value="02-16-2012" class="datepicker">
				<script>
					var element = $('.datepicker');
					element.datepicker({
						format : 'mm-dd-yyyy'
					});
				</script>

				<form ng-submit="setDate()">
					<input b-datepicker ng-model="date"> <input b-datepicker
						type="text" ng-model="referenceDate" data-date-format="dd.mm.yyyy">
					<input class="btn-primary" type="submit" value="add">
				</form>
				<p>
				<div id="container"
					style="min-width: 400px; height: 400px; margin: 0 auto"></div>
				</p>
			</div>
			<!-- 
			<div class="span6">
				<ul class="pager">
					<li><a href="#">Previous</a></li>
					<li><a href="#">Next</a></li>
				</ul>
				<p>
				<div id="container1"
					style="min-width: 400px; height: 400px; margin: 0 auto"></div>
				</p>
			</div>
			-->
		</div>
		<div id="radials1" class="row-fluid"></div>
		<script>
			initRadials(document.getElementById('radials1'));
		</script>

		<footer>
			<p>&copy; Guido Zockoll 2013</p>
		</footer>

	</div>
	<!-- /container -->

	<!-- Le javascript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script src="http://code.highcharts.com/modules/exporting.js"></script>
	<script src="../assets/js/date.js"></script>
	<script src="../assets/js/helper.js"></script>
	<script>
		var m = new Array();
		var mi = 0;
		var da = new Array();
		var dx = 0;
		var mo = new Array();
		var mx = 0;
		var ye = new Array();
		var yx = 0;
	</script>
	<script src="../assets/js/solarlog_helper.js"></script>
	<script src="../assets/js/daychart.js"></script>
</body>
</html>
